@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 26px;
}

h2 {
  font-size: 26px;
  padding-left: 15px;
}

h3 {
  font-family: "Shrikhand", cursive;
}

h4 {
  font-family: "Shrikhand", cursive;
}

h5 {
  font-family: "Shrikhand", cursive;
}

.banner-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  color: #353535;
}
.banner-location__city {
  font-weight: bold;
  padding: 5px;
  font-size: 18px;
}
.banner-location__icon {
  font-size: 18px;
  padding-right: 15px;
}

.button-submit {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(215, 108, 219, 0.8) 40%, rgba(170, 94, 220, 0.8) 80%, rgba(155, 89, 220, 0.8) 100%);
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 35px;
  border: 0px;
  box-shadow: 0px 10px 20px 5px lightgrey;
}

.operation-row {
  background-color: #f6f6f6;
  height: 90px;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 30px;
  box-shadow: 0px 5px 15px 5px #e0e0e0;
}
.operation-row--colored {
  background-color: #f5edff;
}
.operation-row__step {
  background-color: #9356dc;
  color: white;
  padding: 3px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border-radius: 100%;
  position: relative;
  left: -3%;
  margin-right: 15px;
}
.operation-row__icon {
  width: 40px;
  margin-right: 20px;
  color: #353535;
}
.operation-row__icon--colored {
  color: #9356dc;
}
.operation-row__text {
  font-size: 18px;
}

.restaurant-card {
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 5px lightgrey;
  margin-bottom: 20px;
}
.restaurant-card__image {
  flex-basis: 70%;
  position: relative;
}
.restaurant-card__image__new {
  background-color: #99e2d0;
  padding: 10px;
  color: #008766;
  position: absolute;
  top: 5%;
  right: 5%;
  font-weight: bold;
}
.restaurant-card__image img {
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.restaurant-card__infos {
  flex-basis: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurant-card__infos__text__title {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.restaurant-card__infos__text__address {
  margin-top: 5px;
  margin-bottom: 10px;
  color: #353535;
  font-weight: 100;
}
.restaurant-card__infos__heart {
  font-size: 32px;
}

.menu-card {
  border-radius: 20px;
  flex-basis: 85%;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 5px 15px 5px #e0e0e0;
}
.menu-card__dish-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 10px;
}
.menu-card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-card__bottom__description {
  margin-top: 0;
  font-weight: 300;
}
.menu-card__bottom__price {
  margin-top: 0;
  font-weight: bold;
}

.main-wrapper {
  padding: 0px;
  margin: 0px;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid gray;
  height: 60px;
}
.header__arrow {
  position: absolute;
  left: 5%;
  color: black;
  font-size: 20px;
}

.footer {
  background-color: #353535;
  color: white;
  padding-top: 5px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 18;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.footer__title {
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__text {
  margin: 5px;
}
.footer__text span {
  padding-left: 15px;
}
.footer__text a {
  text-decoration: none;
  color: white;
  margin-left: 0;
}

.background img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.operations {
  padding-top: 30px;
  padding-bottom: 40px;
}
.operations__title {
  padding-bottom: 10px;
}
.restaurants {
  margin-bottom: 50px;
}
.restaurants__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.reserve {
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f6f6f6;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
}
.reserve__title {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  padding-left: 50px;
  padding-right: 50px;
}
.reserve__subtitle {
  padding-bottom: 15px;
  font-size: 20px;
  color: #353535;
}

.menu {
  border-radius: 30px 30px 0px 0px;
  transform: translateY(-50px);
  background-color: #f6f6f6;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.menu__title__restaurant-name {
  font-size: 30px;
}
.menu__title__heart {
  font-size: 32px;
  padding-right: 20px;
}
.menu__subtitle {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 5px;
  margin-bottom: 0;
}
.menu__underline {
  margin-left: 15px;
  width: 50px;
  height: 4px;
  background-color: #99e2d0;
  margin-bottom: 25px;
}
.menu__dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu__purchase {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 80px;
}
.menu__purchase button {
  width: 200px;
}

/*# sourceMappingURL=styles.css.map */
