.main-wrapper {
  padding: 0px;
  margin: 0px;
  background-color: $alt4;
  max-width: 100%;
  height: 100%;
  max-width: $max-resolution;
  margin: 0 auto;
  // border-left: 1px solid gray;
  // border-right: 1px solid gray;
  // @include small-shadow;
}
