.banner-location {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $alt2;
  color: $alt1;

  &__city {
    font-weight: bold;
    padding: 5px;
    font-size: 18px;
  }

  &__icon {
    font-size: 18px;
    padding-right: 15px;
  }

  @include laptop-design {
    color: white;
    background: $tertiary;
  }
}
