.hearts {
  // overflow: hidden;
  width: 40px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    position: absolute;
    transition: all 300ms;
    font-size: 32px;
    cursor: pointer;

    &--fillfulled {
      background: linear-gradient(to bottom left, #9356dc, #ff79da);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      color: transparent;
      opacity: 0;
      transition: all 200ms;
      font-size: 34px;

      &:hover {
        transition: opacity 500ms;
        opacity: 1;
        transform: scale(1);
        animation: heart-beat 800ms linear;
        // animation-iteration-count: 3;
      }
    }
  }
}
