.menu-card {
  border-radius: 20px;
  flex-basis: 85%;
  padding-left: 20px;
  margin-bottom: 20px;
  border: 1px solid $alt2;
  display: flex;
  @include tiny-shadow;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;

  &:hover {
    & .menu-card__infos {
      max-width: 80%;
    }

    & .menu-card__infos__bottom__description {
      position: relative;
    }

    & .menu-card__infos__dish-name {
      position: relative;
    }

    & .menu-card__checkbox {
      //   display: flex;
      flex-basis: 20%;

      & .menu-card__icon {
        visibility: visible;
        opacity: 1;
        transform: rotate(0deg);
      }
    }
  }
  &__infos {
    flex-basis: 100%;
    max-width: 100%;
    transition: all 600ms;

    &__dish-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 5px;
      margin-top: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 30px;

      &__description {
        margin-top: 0;
        font-weight: 300;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;

        text-overflow: ellipsis;
      }

      &__price {
        margin-top: 0;
        font-weight: bold;
      }
    }
  }

  &__checkbox {
    transition: all 600ms;
    // animation: appearFromRight 200ms linear;
    display: flex;
    width: 0;
    flex-basis: 0;
    background-color: $tertiary;
    border-radius: 0px 20px 20px 0px;
    // display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    opacity: 0;
    transition: all 600ms;
    visibility: hidden;
    transform: rotate(-180deg);
    color: white;
    font-size: 32px;
  }

  @include laptop-design {
    flex-basis: 65%;
    //   margin-left: 20px;
    //   margin-right: 20px;
  }
}
