body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-family: "Shrikhand", cursive;
}

h3 {
  font-family: "Shrikhand", cursive;
}

h4 {
  font-family: "Shrikhand", cursive;
}

h5 {
  font-family: "Shrikhand", cursive;
}
