.delice-des-sens {
  @include tablet-design {
    background-image: url("./../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-size: cover;
    padding: 50px;
  }
}
