@keyframes heart-beat {
  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
