@keyframes heart-beat {
  10% {
    transform: scale(1.2);
  }

  20% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(1.2);
  }

  60% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear-slowly-from-top {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
