@keyframes heart-beat {
  10% {
    transform: scale(0.4);
  }

  20% {
    transform: scale(0.6);
  }

  40% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.05);
  }

  60% {
    transform: scale(1.2);
  }

  70% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes appear-slowly-from-top {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loading-disappear {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-30px);
    visibility: hidden;
  }
}

@keyframes loading-anim {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes coli1 {
  0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
  100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
}

@keyframes coli2 {
  0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
