@mixin tiny-shadow {
  box-shadow: 0px 5px 15px 5px lighten(lightgrey, 5%);
}

@mixin small-shadow {
  box-shadow: 0px 10px 20px 5px lightgrey;
}

@mixin medium-shadow {
  box-shadow: 0px 20px 30px 5px darken(lightgrey, 10%);
}

@mixin big-shadow {
  box-shadow: 0px 20px 30px 5px darken(lightgrey, 10%);
}

@mixin image-shadow {
  box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.5);
}

@mixin laptop-design {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin tablet-design {
  @media screen and (min-width: 768px) {
    @content;
  }
}
