.footer {
  background-color: $alt1;
  color: white;
  padding-top: 5px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  max-width: $max-resolution;
  margin: 0 auto;

  padding-bottom: 20px;
  &__title {
    font-size: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
  }
  &__links {
    padding-left: 20px;

    &__link {
      margin: 5px;
      & i {
        margin-right: 10px;
      }

      & a {
        text-decoration: none;
        color: white;
        margin-left: 0;
      }
    }
  }

  @include laptop-design {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: $alt4;
    color: black;

    &__links {
      display: flex;
      &__link {
        margin-right: 50px;

        & a {
          color: black;
        }
      }
    }

    &--darker {
      background-color: $alt1;
      color: $alt4;

      &__links {
        display: flex;
        &__link {
          margin-right: 50px;

          & a {
            color: $alt4;
          }
        }
      }
    }
  }
}
