.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: white;
  max-width: $max-resolution;
  margin: 0 auto;
  position: relative;
  &__logo {
  }

  &__arrow {
    position: absolute;
    left: 5%;
    font-size: 25px;
  }

  @include laptop-design {
    border: 1px solid $alt2;
    &__arrow {
      left: 30%;
    }
  }
}
