.menu {
  border-radius: 30px 30px 0px 0px;
  transform: translateY(-50px);
  background-color: $alt4;
  padding-bottom: 20px;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__restaurant-name {
      font-size: 30px;
    }

    &__heart {
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  &__underline {
    margin-left: 15px;
    width: 50px;
    height: 4px;
    background-color: $tertiary;
    margin-bottom: 25px;
  }

  &__dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__purchase {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    & button {
      width: 200px;
    }
  }
}
