.menu {
  border-radius: 30px 30px 0px 0px;
  transform: translateY(-50px);
  background-color: $alt4;
  padding-bottom: 20px;
  max-width: 800px;
  margin: 0 auto;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__restaurant-name {
      font-size: 30px;
    }

    &__heart {
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 5px;
    margin-bottom: 0;
  }

  &__underline {
    margin-left: 15px;
    width: 50px;
    height: 4px;
    background-color: $tertiary;
    margin-bottom: 25px;
  }

  &__dishes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;

    & a {
      opacity: 0;
      animation: appear-slowly-from-top 400ms linear;
      animation-fill-mode: forwards;
    }

    &--entrees {
      animation-delay: 1s;
      @for $i from 1 through 3 {
        a:nth-child(#{$i}) {
          animation-delay: $i * 300 + ms;
        }
      }
    }

    &--plats {
      animation-delay: 1500ms;
      @for $i from 4 through 6 {
        a:nth-child(#{$i - 3}) {
          animation-delay: $i * 300 + ms;
        }
      }
    }

    &--desserts {
      animation-delay: 2000ms;
      @for $i from 7 through 9 {
        a:nth-child(#{$i - 6}) {
          animation-delay: $i * 300 + ms;
        }
      }
    }
  }

  &__purchase {
    display: flex;
    justify-content: center;
    padding-top: 40px;

    & button {
      width: 200px;
    }
  }

  @include tablet-design {
    transform: translateY(0px);
  }

  // @include laptop-design {
  //   max-width: 90%;
  //   &__dishes {
  //     flex-direction: row;
  //   }
  // }
}
