.operations {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: white;
  &__title {
    padding-bottom: 10px;
  }

  &__rows {
  }

  @include laptop-design {
    max-width: 90%;
    margin: 0 auto;
    border-radius: 30px;
    padding: 20px;
    &__rows {
      display: flex;
    }
  }
}
