.restaurants {
  padding-top: 30px;
  padding-bottom: 50px;
  &__title {
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include laptop-design {
    max-width: 90%;
    margin: 0 auto;
    &__cards {
      justify-content: space-between;
    }
  }
}
