.reserve {
  text-align: center;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $alt4;
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 80px;
  &__title {
    font-family: "Roboto", sans-serif;
    margin-top: 0;
    padding-left: 50px;
    padding-right: 50px;
  }
  &__subtitle {
    padding-bottom: 15px;
    font-size: 20px;
    color: $alt1;
  }
}
